Options -Indexes
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^config/ - [F,L]
RewriteRule ^core/ - [F,L]
</IfModule>
<FilesMatch "^(\.env|composer\.(json|lock)|README\.md)$">
Require all denied
</FilesMatch>
